load the data

In [1]:
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv()
path_data = os.getenv("path_data")
df = pd.read_csv(path_data)
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [2]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    str
 2   Salary Estimate    672 non-null    str
 3   Job Description    672 non-null    str
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    str
 6   Location           672 non-null    str
 7   Headquarters       672 non-null    str
 8   Size               672 non-null    str
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    str
 11  Industry           672 non-null    str
 12  Sector             672 non-null    str
 13  Revenue            672 non-null    str
 14  Competitors        672 non-null    str
dtypes: float64(1), int64(2), str(12)
memory usage: 78.9 KB

In [3]:
df = df.drop_duplicates()

In [4]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df

,index,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,size,founded,type_of_ownership,industry,sector,revenue,competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [5]:
text_cols = ["job_title", "job_description", "company_name", "location", "headquarters",
             "size", "type_of_ownership", "industry", "sector", "revenue", "competitors"]

for col in text_cols:
    df[col] = df[col].str.strip()
    df[col] = df[col].str.replace(r'\n', ' ', regex=True)  
df

,index,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,size,founded,type_of_ownership,industry,sector,revenue,competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description The Senior Data Scientist is resp...,3.1,Healthfirst 3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future Join th...",4.2,ManTech 4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview Analysis Group is one of the larges...,3.8,Analysis Group 3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION: Do you have a passion for Da...,3.5,INFICON 3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist Affinity Solutions / Marketing ...,2.9,Affinity Solutions 2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary We’re looking for a data scientist to...,3.6,TRANZACT 3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description Become a thought leader within...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated 5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description The Data Scientist will be part o...,2.7,1-800-Flowers 2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [13]:
import re
def parse_salary(s):
    numbers = re.findall(r'\d+', str(s))
    if len(numbers) == 2:
        return (int(numbers[0]) + int(numbers[1])) / 2 * 1000
    return None

df["salary_clean"] = df["salary_estimate"].apply(parse_salary)

In [7]:
load_dotenv()
ENDPOINT = os.getenv("endpoint")
KEY = os.getenv("api_key")
data_with_skills = os.getenv("data_with_skills")
PATH_DATA = os.getenv("path_clean_data")

In [8]:
# import time

# import pandas as pd
# from azure.ai.textanalytics import TextAnalyticsClient
# from azure.core.credentials import AzureKeyCredential
# from tqdm import tqdm

# ENDPOINT = ENDPOINT
# KEY = KEY


# def authenticate_client():
#     return TextAnalyticsClient(endpoint=ENDPOINT, credential=AzureKeyCredential(KEY))


# def run_ner_extraction(data_path, output_path, limit=100):
#     client = authenticate_client()
#     df = pd.read_csv(data_path)

#     # Process only the requested limit
#     df_subset = df.head(limit).copy()

#     all_skills = []

#     print(f"Extracting skills for {limit} jobs using Azure NER...")

#     # Process 1 by 1 to avoid batch limits
#     for i, row in tqdm(df_subset.iterrows(), total=len(df_subset)):
#         description = str(row["job_description"])[:1000]  # 1000 chars
#         try:
#             response = client.recognize_entities([description])
#             doc = response[0]
#             if not doc.is_error:
#                 # relevant skills are in 'Skill' or 'Product' categories
#                 skills = [
#                     entity.text
#                     for entity in doc.entities
#                     if entity.category in ["Skill", "Product"]
#                 ]
#                 all_skills.append(", ".join(list(set(skills))))
#             else:
#                 all_skills.append("")
#         except Exception as e:
#             print(f"\nError at row {i}: {e}")
#             all_skills.append("")

#         # Free tier pause
#         time.sleep(1.0)

#     df_subset["extracted_skills"] = all_skills
#     df_subset.to_csv(output_path, index=False)
#     print(f"\nExtraction complete. Saved {len(df_subset)} records to {output_path}")


# if __name__ == "__main__":
#     run_ner_extraction(PATH_DATA, "DATA/dataset_with_skills1.csv", limit=100)

In [9]:
df_skill = pd.read_csv(data_with_skills)
df_skill
df_final = df_skill.reset_index()[["index", "Job Title", "extracted_skills"]]
df_final.columns = ["id", "job_title", "skills_extracted"]
df_final.head()

   id          job_title                                   skills_extracted
0   0  Sr Data Scientist  statistical models, Investigates, linear model...
1   1     Data Scientist  troubleshooting, technical, data science, anal...
2   2     Data Scientist  life sciences, finance, biotech, analytical se...
3   3     Data Scientist  software, data science, AI, developing, time s...
4   4     Data Scientist  insights, measurement methodology, data scienc...

Save the table with 3 Columns in sql azurre

In [ ]:
# import os
# from sqlalchemy import create_engine, text
# from dotenv import load_dotenv

# load_dotenv()


# DATABASE_URL = os.getenv("data_url")
# DATABASE_URL
# engine = create_engine(DATABASE_URL)

# try:
#     with engine.begin() as connection:
#         print("✅ Database connected successfully!")

# except Exception as e:
#     print("❌ Connection failed")
#     print(e)

✅ Database connected successfully!

In [ ]:
# df_final.to_sql(
#     name='job_skills',
#     con=engine,
#     if_exists='append',   
#     index=False,
#     chunksize=1000,
#     method='multi'
# )

In [11]:
df.to_csv("data_clean.csv", index=False)